<!DOCTYPE html>
<html>
<head>
  <title>Workout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "#{params[:controller]}/#{action_name}.js" if ::Rails.application.assets.find_asset("#{params[:controller]}/#{action_name}.js") %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/public/navigation' %>

<%= render 'layouts/public/content' %>

<%= render 'layouts/public/footer' %>

</body>
</html>
